@import '../../styles/variables';

.bigButton {
	padding: 38px 544px;
    background: linear-gradient(to left, #ffb147, #ffa449, #ff974e, #ff8a53, #ff7d59, #ff7165, #ff6672, #ff5d81, #f95899, #ec59b2, #d660ca, #b86adf);
	border-radius: 64px;
    box-shadow: 1px 14px 15px 1px #6D6CA440;

	span {
		font-weight: bold;
		font-size: 40px;
		line-height: 120%;
		letter-spacing: 0%;
		color: $color-white;
        background: inherit;
	}
}
