@import '../../styles/variables';

.bigButton {
	padding: 38px 544px;
    background: $gradient-orange-red-purple;
	border-radius: 64px;
    box-shadow: 1px 14px 15px 1px #6D6CA440;

	span {
		font-weight: bold;
		font-size: 40px;
		line-height: 120%;
		letter-spacing: 0%;
		color: $color-white;
        background: inherit;
	}
}
